.checkout{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px 10px;
    &--title{
        font-family: 'Mulish', sans-serif;
        margin-bottom: 10px;
    }
    &--notFound{
        width: 200px;
        position: absolute;
        background-color: #ff9671;
        text-align: center;
        margin: 0 auto;
        border-radius: 100px;
        display: flex;
        align-items: center;
        padding: 5px;
        align-self: center;
        margin-top: 20px;
        & p{
            color: white
        }
    }
    &--checkout{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__total{
            font-family: 'Mulish', sans-serif;
            font-weight: bold;
        }
        &__button{
            height: fit-content;
            width: 100px;
            background-color:#3D9845;
            display: flex;
            align-content: center;
            justify-content: space-evenly;
            border-radius: 5px;
            padding: 5px;
            & svg{
                stroke: white;
            }
            & p{
                font-family: 'Mulish', sans-serif;
                color: white;
                margin: 0;
            }
        }
    }
}