.product{
    margin: 10px auto;
    & img{
        width:fit-content;
        border-radius: 5px;
        max-width: 200px;
        min-width: 100px;
    }
    &--info{
        &__name{
            font-family: 'Mulish', sans-serif;
            margin: 0;
        }
        &__price{
            font-family: 'Mulish', sans-serif;
            margin: 0;
        }
    }
    &--button{
        background-color: #3D9845;
        width:fit-content;
        padding: 3px 10px;
        transition: 1s;
        border-radius: 50px;
        &__icon{
            fill: white;
            transition: 0.5s;
        }
        &:hover{
            background-color: transparent;
            & .product--button__icon{
                transform: translateX(80px);
                fill: #3D9845 ;
            }
            & button{
                transform: scaleX(0);
            }
        }
        & button{
            color: white;
            text-align: center;
            border: none;
            background-color: transparent;
            transition: 0.2s;
        }
    }
}