.header{
    background-color:white;
    padding: 0 20px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    &--logo{
        width: 120px;
        height: 80px;
        background-image: url('../../components/Product/logo-diego.png');
        background-position: center;
        background-size: contain;
        border-radius: 100%;
        background-repeat: no-repeat;
    }
    &--searcher{
        background-color: white;
        border-radius: 50px;
        border: 1px solid #00cb75;
        width: 60%;
        display: flex;
        height: 10px;
        align-items: center;
        justify-content: space-between;
        padding:10px;
        & input{
            border: none;
            width: 80%;
            margin-left:10px;
            &:focus{
                outline: none;
            }
        }
    }

    &--cart{
        display: flex;
        position: relative;
        width: 30px;
        height: 30px;
        align-items: center;
        &__icon{
            width: 20px;
            height: 20px;
            fill: #00cb75;
        }
        &__counter{
            background: #02aa95;
            width: 15px;
            color: white;
            height: 15px;
            text-align: center;
            border-radius: 100px;
            position: absolute;
            right: 4px;
            font-size: 12px;
            font-family: 'Mulish', sans-serif;
            top: 2px;
        }
    }
}