.footer{
    background-color:#00cb75;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    & p{
        font-family: 'Mulish', sans-serif;
        font-size: 13px;
        color: black;
    }
}